.button1 {
        background-color: indigo;
        color: aqua;
        padding: 10px;
        border-radius: 15px;
        cursor: pointer;
    }
    .button1:hover {
        background-color: black;
  }
  .button2 {
        background-color: green;
        color: white;
        padding: 10px;
        border-radius: 15px;
        cursor: pointer;
    }
    .button2:hover {
        background-color:darkgreen ;
  }
  .button3 {
        background-color: black;
        color: white;
        padding: 10px;
        border-radius: 15px;
        cursor: pointer;
    }
    .button3:hover {
        background-color: violet;
  }
  .button4 {
    background-color: red;
    color: white;
    padding: 10px;
    border-radius: 15px;
    cursor: pointer;
}
.button4:hover {
    background-color: orange;
}